{% extends 'base.html.twig' %}

{% block title %}PhoneValidator{% endblock %}

{% block body %}
    <h1>PhoneValidator</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ phone_validator.id }}</td>
            </tr>
            <tr>
                <th>CountryName</th>
                <td>{{ phone_validator.countryName }}</td>
            </tr>
            <tr>
                <th>CountryCode</th>
                <td>{{ phone_validator.countryCode }}</td>
            </tr>
            <tr>
                <th>Regex</th>
                <td>{{ phone_validator.regex }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_phone_validator_index') }}">back to list</a>

    <a href="{{ path('app_phone_validator_edit', {'id': phone_validator.id}) }}">edit</a>

    {{ include('phone_validator/_delete_form.html.twig') }}
{% endblock %}
